@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', monospace;
    background-color: rgb(0, 0, 0);
    color: white;
}
header {
    position: sticky;
    top: 0;
    background-color: rgb(3, 15, 33);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.9);
    z-index: 100;
    border-bottom: 2px solid rgb(255, 255, 255, 0.6);
}
header .header-container {
    display: flex;
    justify-content: space-between;
}

nav {
    margin: 1rem 1rem;
    padding-bottom: 10px;
    padding-top: 0;

}

nav ul li {
    list-style: none;
    padding: 5px 20px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
    border-radius: 6px;
    margin-right: 10px;
    background-color: rgb(255, 255, 255, 0.1);
    height: 1.6rem;
}
nav ul li:hover {
    background-color: rgba(31, 214, 246, 0.5);
    transform: scale(1.2);

}

nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex-shrink: 2;
}



nav ul li a {
     text-decoration: none;
     color: white;
     font-size: 1rem;
}

.search-container {
    position: relative;
    padding-top: 0.6rem;
}

.material-icons {
    position: absolute;
    right: 5px;
    color: white;
    bottom: 30px;
   
}

.search-container input {
    height: 2.2rem;
    border: 2px solid rgb(0, 0, 0);
    width: 4rem;
    font-size: 1.1rem;
    border-radius: 0.6rem;
    text-align: center;
    transition: border 0.5s ease-in;
    background-color: rgba(31, 214, 246, 0.6);


}
input::placeholder {
    color: white;
}
.search-container input:hover {
    transform: scaleY(1.1);
}

.logo-image {
    background-image: url("logo1.png");
    background-color: rgba(23, 169, 232, 0.5);

}
.brand-container {
    background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url("header1.avif");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50);

}

.brand-content {
   text-align: center;
   color: white;
   transform: translateY(-50px);
   line-height: 2;
  
}

.site-quote {
    font-size: 2rem;
}

h1 {
    font-size: 5rem;
    color: rgb(31, 214, 246);
}
span {
    color: rgb(31, 214, 246, 0.6);
}

p {
    font-size: 1.4rem;;
}

.site-quote,
h1,
p {
    letter-spacing: 0.1rem;
}

.founders {
    background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url("header.avif");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 10%;
}

.founders h2 {
    font-size: 8rempx;
    color:  rgb(31, 214, 246);
}

.founders p {
    letter-spacing: 4px;
    line-height: 2;
}

.founders-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("brand5.avif");
    background-size: cover;
    background-position: center;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    width: auto;
    height: auto;
}


article {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.01);
    width: 800px;
    max-width: 100%;
    backdrop-filter: blur(70px);
    border: 1px solid rgb(255, 255, 255, 0.9);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

article:hover {
    background-color: rgba(31, 214, 246, 0.2);
}

article p {
    word-break: break-word; /* Force les mots trop longs à se couper */
    overflow-wrap: break-word; /* Empêche le texte de déborder du bloc */
    text-align: center;
    letter-spacing: 4px;
    line-height: 1.5;
    font-size: 1rem;
    color: white;
    padding: 1rem;
}

article h3 {
    letter-spacing: 4px;
    text-align: center;
    padding-top: 0.8px;
}

#founder-heavenly img {
    min-width: 5rem;
    object-fit: cover;
    object-position: center;
    transform: translateX(50px);
}
